body
{
    background-color: #DAE3E5;
    color: #04080F;
    font-family: 'Lora', serif;
}
.container
{
    display: grid;
    grid-template-areas: "Header"
                         "Main"
                         "Footer";
}
#main
{
    grid-area: Main;
}
#main #projects
{
    display: grid;
    grid-template-areas: "P1"
                         "P2"
                         "P3";
    font-size: 14px;
}
@media screen and (min-width: 768px)
{
    #main #projects
    {
        display: grid;
        grid-template-areas: "P1 P2 P3";
    }
}
#main #projects #project1
{
    grid-area: P1;
    display: flex;
}
#main #projects #project2
{
    grid-area: P2;
    display: flex;
}
#main #projects #project3
{
    grid-area: P3;
    display: flex;
}
#header
{
    grid-area: Header;
    width: 100%;
    font-size: 32px;
}
#header header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header img
{
    width: 25%;
    height: 25%;
}
#footer
{
    grid-area: Footer;
    width: 100%;
}
#footer #footItems
{
    display: flex;
    justify-content: space-around;
}
div 
{
    text-align: center;
}
a:link
{
    color: #373F47;
}
a:visited
{
    color: #DC851F;
}
a:focus
{
    color: #FFA737;
}
a:hover
{
    color: #FFA737;
}
a:active
{
    color: red;
}