header img
{
    float: right;
    width: 30vw;
    height: 20vh;
}
footer
{
    margin-left: 25em;
}
body
{
    background-color: #E8985E;
}
h1, h2
{
    color: #759FBC;
    font-family: 'Supermercado One', cursive;
}
p
{
    color: #141204;
    font-family: 'Supermercado One', cursive;
}
a:link{color: #141204;}
a:visited{color: #759FBC;}
a:focus{color: #F3FCF0;}
a:hover{color: #F3FCF0;}
a:active{color: #820B8A;}
.bio
{
    border-top: 2px dashed #759FBC;
    border-bottom: 2px dashed #759FBC;
}
.projects h2
{
    border-bottom: 2px dashed #759FBC;
}
#firstProjectImage, #secondProjectImage, #thirdProjectImage
{
    float: right;
}
.firstProjectBio, .secondProjectBio, .thirdProjectBio
{
    background-color: #759FBC;
    text-align: center;
}
